:root {
  font-size: 125%;
}

@media (min-width: 768px) {
  :root {
    font-size: 175%;
  }
}

body {
  text-align: center;
}

main {
  margin: 10vh auto;
  max-width: 800px;
  padding: 0.5rem;
}

nav {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  grid-gap: 2rem;
  padding: 0.5rem;
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
  list-style: none;
  display: grid;
  grid-gap: 2rem;
}