<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>nunjucks title! | {{ title }}</title>
    <!-- capture the CSS content as a Nunjucks variable -->
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap-reboot.css"
    />
    <link rel="stylesheet" href="/css/site.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
      </nav>
      <hr />
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      <hr />
      <p>
        Powered by
        <a href="https://11ty.io" rel="external noopener" target="_blank"
          >Eleventy</a
        >
        and
        <a
          href="https://www.netlify.com"
          rel="external noopener"
          target="_blank"
          >Netlify</a
        >
        <br />Source code publicly available on
        <a
          href="https://github.com/KamenKolev/11ty-netlify"
          rel="external noopener"
          target="_blank"
          >GitHub</a
        >
      </p>
    </footer>
  </body>
</html>
